body {
  font-family: 'Cinzel', serif;
  margin: 1em;
}
header h1, header h4 {
  margin: 0em;
}
.alert {
	color: red;
}
.primary {
	color: blue;
}
.success {
	color: lime;
	text-shadow: 1px 1px 2px navy;
}
table {
	border-collapse: collapse;
}
th {
	color: #FFFFFF;
	background-color: #000000;
}
th:first-child {
	border-radius: 5px 0px 0px 0px;
}
th:last-child {
	border-radius: 0px 5px 0px 0px;
}
th, td {
	padding: 0em 1em 0em 1em;
	text-align: center;
}
td {
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
tr:nth-child(even) {
	background-color: lightcyan;
}
tr:hover {
	background-color: lightgreen;
}